body {
	margin: 0 0 72px;
	font-size: 28px;
	line-height: 36px;
	background-color: #eeeee2;
	color: #333;
	}
.container_16 {
	background-color: #fff;
	padding-bottom: 36px;
	}
#header {
	padding-top: 24px;
	border-top: 16px #ddddd2 solid;
	}
h1 {
	font-size: 72px;
	line-height: 96px;
	font-weight: normal;
	border-bottom: 2px #eeeee2 solid;
	}
ul {
    margin-left: 28px;
    list-style-type: disc;
}
ul, li {
    padding: 2px;
}
a span {
    font-size: 32px;
    line-height: 48px;
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}